@font-face {
    font-family: 'kingthings_trypewriter_2Rg';
    src: url('font/Kingthings_Trypewriter_2-webfont.eot');
    src: url('font/Kingthings_Trypewriter_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Kingthings_Trypewriter_2-webfont.woff') format('woff'),
         url('font/Kingthings_Trypewriter_2-webfont.ttf') format('truetype'),
         url('font/Kingthings_Trypewriter_2-webfont.svg#kingthings_trypewriter_2Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	background: url(assets/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

body {
	padding: 0;
	margin-bottom: 0;
}

div#letter {
	position: fixed;
	bottom: 6%;
	left: 0%;
	/* margin-right: -50%; */
	/*transform: translate(0%, -30%);*/
	width: 100%;
}

textarea#input_text {
	display: block; 
	margin:auto;
	width: 20%;
	box-sizing: padding-box;
	overflow: hidden;
	border: none;
	background: none;
	background-image: url(assets/paper.png); #textarea background
	box-shadow: 10px 10px 5px "grey";
	font-family: 'kingthings_trypewriter_2Rg';
	font-size: 16px;
	color: #130E06;
	outline: none;
	resize: none;
	-webkit-box-shadow:0 -2px 8px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 -2px 8px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 -2px 8px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
    padding: 80px;
    min-height: 56px;
    line-height: 1.2;
}

div#input_placeholder{
	display: block; 
	margin:auto;
	border: none;
	font-size: 16px;
	color: #130E06;
	outline: none;
	height: 200px;
	background-image: url(assets/paper.png);
	width: 755px;
	-webkit-box-shadow:0 8px 8px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 8px 8px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 8px 8px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
}

.input:focus{
	outline: none !important;
}

#submit {
	width:105%; 
	height:60px;
	border: none;
	background-color: #434343;
	font-family: 'kingthings_trypewriter_2Rg';
	text-decoration: underline;
	color: #787D7B;
	font-size: 20px;
	margin-bottom: 0px;
}

#submitted, #discarded {
	font-family: 'kingthings_trypewriter_2Rg';
	font-size: 34px;
	text-align: center;
	left: 40%;
	width: 20%;
	position: fixed;
	top: 50%;
	display: none;
	transition: opacity 1s ease-out;
}

#buttons {
	position: fixed;
	bottom: 1%;
	left: 50%;
	margin-left: 62px;
}

#bt_submit {
	border:0;
	width: 114px;
	height: 61px;
	background: url(assets/button_submit.png) no-repeat;
	background-size:cover;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#bt_submit:hover {
	border:0;
	width: 114px;
	height: 61px;
	background: url(assets/button_submit_hover.png) no-repeat;
	background-size:cover;
	cursor: pointer;
}

#bt_submit:active {
	border:0;
	width: 114px;
	height: 61px;
	background: url(assets/button_submit_click.png) no-repeat;
	background-size:cover;
	cursor: pointer;
}

#bt_discard {
	border:0;
	width: 114px;
	height: 61px;
	background: url(assets/button_discard.png) no-repeat;
	background-size:cover;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#bt_discard:hover {
	border:0;
	width: 114px;
	height: 61px;
	background: url(assets/button_discard_hover.png) no-repeat;
	background-size:cover;
	cursor: pointer;
}

#bt_discard:active {
	border:0;
	width: 114px;
	height: 61px;
	background: url(assets/button_discard_click.png) no-repeat;
	background-size:cover;
	cursor: pointer;
}

